body {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 40px auto;
    /*display: inline-block;*/
    width: auto;
    background-color: rgb(218, 218, 218);
    padding: 10px;
    border: 1px solid #333;
    border-radius: 20px;
}

.table {
    border-collapse: collapse;
}

.table td {
    min-width: 40px;
    height: 48px;
    padding: 20px;
    font-size: 40px;
    font-family: "Consolas", monospace;
    text-align: center;
    border: 1px solid #333;
    cursor: pointer;
}

.table tr:first-child td {
    border-top-color: transparent;
}

.table tr:last-child td {
    border-bottom-color: transparent;
}

.table td:first-child {
    border-left-color: transparent;
}

.table td:last-child {
    border-right-color: transparent;
}

.resetButton {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background: none;
    font-size: 16px;
    border: 3px solid orange;
    border-radius: 5px;
}